<form (submit) = "submit()">
    <div class="forms-group row">
        <label for="toDoLabel" class="col-sm-2 col-form-label">Nouvelle tache</label>
        <input type="text" name="toDoLabel" class="input-border form-control-plaintext" id="toDoLabel" [(ngModel)]='do' /> 
        <input type="submit" value="ajouter">
    </div>
</form>

<h1 [hidden]="toDo.length">Pas d'éléments pour le moment</h1>
<ul class="list-group">
    <li *ngFor="let doIt of toDo;let i = index; let odd = odd " class="list-group-item d-flex justify-content-between align-items-center" [ngClass]="{alternate : odd}">
        • {{i}} {{doIt}}
    </li>
</ul>